nav ul {
    list-style: none;
    padding-left: 0;
    margin-bottom: 0;
}

nav li {
    padding-left: 0;
}

nav li > ul {
    display: none;
    padding-left: 20px;
}

nav li input:checked ~ ul {
    display: block;
}

nav li input[type=checkbox] {
    display: none;
}

nav li label:before {
    content: ">";
    display: inline-block;
    margin-right: 0.5em;
    font-size: larger;
    text-align: center;
    transition: all 0.5s;
}

nav li input:checked ~ label:before {
    transform: rotate(90deg);
}

div.masthead img {
    display: inline;
    margin: 0;
}

footer {
    padding: 1em;
}

footer * {
    font-size: small;
    margin: 0.2em;
}

footer p, footer div {
    text-align: center;
}

footer ul {
    margin: 0;
    padding-left: 0;
}

footer li {
    display: inline-block;
}

footer img {
    height: 2em;
    width: auto;
}

/* TODO: Have a `.admonition` class which contains the shared attributes. */
.franklin-content .note {
  margin-top: 1.5em;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  background-color:  aliceblue;
  border-radius: 5px;
  margin-bottom: 1em;
}

.franklin-content .note .content {
  padding: 10px;
  padding-left: 12px;
}

.franklin-content .note .title{
  font-size: 105%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 7px;
  padding-top: 2px;
  color: white;
  background: cornflowerblue;
}

.franklin-content .warning {
  margin-top: 1.5em;
  width: 95%;
  margin-left:auto;
  margin-right:auto;
  background-color:  #f1b3b1;
  border-radius: 5px;
  margin-bottom: 1em;
}

.franklin-content .warning .content {
  padding: 10px;
  padding-left: 12px;
}

.franklin-content .warning .title{
  font-size: 105%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
  padding-left: 7px;
  padding-top: 2px;
  color: white;
  background: crimson;
}

.franklin-content .blurb {
    font-size: larger;
    width: 95%;
    margin-top: 1.5em;
    margin-bottom: 1em;
    margin-left: auto;
    margin-right: auto;
}

.franklin-content .figure .caption {
    font-size: smaller;
    font-style: italic;
    padding-left: 10%;  /* Matches `.franklin-content img`. */
    margin-top: -0.5rem;  /* Partially undoes `.franklin-content img`. */
    margin-bottom: 1rem;  /* Matches `.franklin-content img`. */
}