<!-- HTML that needs to be at the top of the `<body>` in `head.html` _and_ `tag.html`. -->
  <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">

  <div class="sidebar" id="sidebar">
    <div class="sidebar-item"><h2>Navigation</h2></div>

    <nav class="sidebar-nav">
      <ul><li class="sidebar-nav-item{{ispage index.html}} active{{end}}"><a href="/">Home</a></li></ul>
      {{ pagenav }}
      <!-- TODO: Add a tag page, use `globvar("fd_tag_pages")` or `globvar("fd_page_tags")`. -->
    </nav>

    <div class="sidebar-item">
      <p>&copy; {{ fill author }}</p>
    </div>
  </div>

  <!--
    Wrap is the content to shift when toggling the sidebar.
    We wrap the content to avoid any CSS collisions with our real content.
  -->
  <div class="wrap">
    <div class="masthead">
      <div class="container">
        <h3 class="masthead-title">
          <a href="/" title="Home">{{ fill site_title }}</a>
          <small>{{ fill description }}</small>
        </h3>
      </div>
    </div>

    <div class="container content">
