<!-- HTML that needs to be at in the `<head>` in `head.html` _and_ `tag.html`. -->
  <link rel="icon" href="/assets/logo.svg">
  <link rel="stylesheet" href="/css/franklin.css">
  <link rel="stylesheet" href="/css/poole_lanyon.css">
  <link rel="stylesheet" href="/css/adjust.css">
  <link rel="stylesheet" href="/css/custom.css">
