<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {{insert shared_head.html}}

  <title>Tag: {{ fill tag_name }}</title>
</head>
<body>
  {{ insert shared_header.html }}

      <!-- TODO: This should use `{{ fill div_content }}` but that doesn't work... -->
      <div class="franklin-content">
        <h1>Tag: {{ fill tag_name }}</h1>
        {{ taglist }}

        <!-- TODO: Insert the page foot here as well, currently this breaks because of footnotes. -->
      </div>
    </div>  <!-- div: container content -->
  </div> <!-- div: wrap -->
</body>
</html>
